#header {
    background-color: #fff;
    height: 70px;
    position: fixed;
    top: 0px;
    z-index: 99;
    width: 100%;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,.3);
  }
  
  #top-logo {
    height: 60px;
  }
  
  #notifications {
    color: blue;
    float: right;
  }
  
  #sidenav, #sidenav-mini {
    height: 100%;
    position: fixed;
    top: 70px;
    padding-left: 0px;
    padding-top: 1em;
    background-color: white !important;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.3);
  overflow-x: hidden;
overflow-y: auto;
}
  
  #content-body {
    top: 60px;
    position: absolute;
    left: 150px;
  }
  
  #sidegutter {
    width: 340px;
  }
  
  #minigutter {
    display:none;
  }
  
  /*
  
  @media screen and (min-width: 40.063em) {
  */
/*   
  @media only screen and (max-width: 1000px) {
  
    #sidegutter {
      display: none;
    }
  
    #minigutter {
      display: block;
    }
  
   
  
  } */
  
  /*
  @media only screen and (max-width: 40em) {
  */
  /* @media only screen and (max-width: 400px) {
  
  
    #sidegutter {
      display: none;
    }
  
    #minigutter {
      display: block;
    }
    #content-body {
      top: 60px;
      left: 0px;
    }
  } */
  
    
    /*
    
    @media screen and (min-width: 40.063em) {
    */
    
    @media only screen and (max-width: 1000px) {
    
      #sidegutter {
        display: none;
      }
    
      #minigutter {
        display: block;
      }
    
      #content-body {
        top: 60px;
        left: 0px;
      }
    
    }
    

    /*The below classes will only apply when the screen width is 400px or below*/
    /*
    @media only screen and (max-width: 40em) {
    */
    @media only screen and (max-width: 640px) {
    
    
      #sidegutter {
        display: none;
      }
    
      #minigutter {
        display: block;
      }
      #content-body {
        top: 120px;
        left: 0px;
      }
      .semiTopbar{
        background-color: white;
      }
      .topBar{
        padding: 0.22em !important;
      }
      .userInfo{
        background-color: wheat;
      }
    }


    /*The below classes will only apply when the screen width is 800px or below*/
    @media only screen and (max-width: 800px) {
    
    
      #sidegutter {
        display: none;
      }
    
      #minigutter {
        display: block;
      }
      #content-body {
        top: 60px;
        left: 0px;
      }
    }


    .imageLogo
    {
      width:100%;
      height: 60px;
    }
    .clearText span.ui-button-text.ui-clickable{
      height: 20px;
      content: none;
    }
    
    