<div class="ui-message ui-messages-error" style="padding:0px;color:red!important;border:0px;text-align:right;" *ngIf="fieldErrors(fieldName)">
  <!-- <i class="fa fa-close" style="height:20px;"> -->
    <span *ngIf="fieldErrors(fieldName).required" style="padding:5px;">{{ niceName}} is required</span>
    <span *ngIf="fieldErrors(fieldName).minlength" style="padding:5px;">{{ niceName}} must be {{
      fieldErrors(fieldName).minlength.requiredLength }} characters</span>
    <span *ngIf="fieldErrors(fieldName).maxlength" style="padding:5px;">{{ niceName}} must not exceed {{
      fieldErrors(fieldName).maxlength.requiredLength }} characters</span>
  <!-- </i> -->
</div>