<p-toast position="center" key="alert" (onClose)="onReject()" [modal]="true" [baseZIndex]="5000">
  <ng-template let-message pTemplate="message">
    <div class="ui-g ui-fluid ui-g-nopad">
      <div class="ui-g-12 ui-md-2" align="center">
        <i class="pi pi-exclamation-triangle" style="font-size: 2em;margin:2px;"></i>
      </div>
      <div class="ui-g-12 ui-md-9" align="left">
        <h3 style="margin:5px;">{{message.summary}}</h3>
      </div>
      <div class="ui-g-12 ui-md-12" align="center">
        <h4 style="margin:5px;" [innerHTML]="message.detail | sanitizeHtmlString"></h4>
      </div>
    </div>
    <div class="ui-g ui-fluid ui-g-nopad">
      <div class="ui-g-12" align="right">
        <button type="button" pButton (click)="onReject()" label="Ok" class="ui-button-secondary"></button>
      </div>
    </div>
  </ng-template>
</p-toast>

<form [formGroup]="signInForm" (ngSubmit)="onSubmit()">
  <div class="ui-g-12 ui-md-3 positionMiddle">
    <div class="ui-g-12 ui-md-12" style="border:solid 1px #b3b3b3;border-top-left-radius:0.5em;border-top-right-radius:0.5em;">
      <div class="ui-g ui-g-nopad" style="border-bottom: solid 2px black;">
        <div class="ui-g-12 ui-md-12" style="font-size:2em; font-family: sans-serif; font-weight: bold;text-align:center">
          Time System
        </div>
      </div>
      <div class="ui-g  ui-fluid">
        <div class="ui-g-12 ui-md-12" style="padding-top:4%">
          <div class="ui-inputgroup">
            <span class="ui-inputgroup-addon"><i class="fa fa-user"></i></span>
            <input id="username" type="text" pInputText placeholder="Username" formControlName="username" value="Name"
              style="color: black; background-color: white">
          </div>
        </div>
        <div class="ui-g-12 ui-md-12">
          <app-fielderrors style="width:100%" [form]="signInForm" field="username" nicename="Username">
          </app-fielderrors>
        </div>
      </div>
      <div class="ui-g  ui-fluid">
        <div class="ui-g-12 ui-md-12">
          <div class="ui-inputgroup">
            <span class="ui-inputgroup-addon"><i class="fa fa-key"></i></span>
            <input type="password" pInputText placeholder="Password" formControlName="password" value="password" style="color: black; background-color: white">
          </div>
        </div>
        <div class="ui-g-12 ui-md-12">
          <app-fielderrors style="width:100%" [form]="signInForm" field="password" nicename="Password">
          </app-fielderrors>
        </div>
      </div>
      <div class="ui-g">
        <div class="ui-g-12 ui-md-8"></div>
        <div class="ui-g-12 ui-md-4">
          <button style="width:100%" pButton type="submit" [disabled]="hasFormErrors()" label="Sign In"></button>
        </div>
      </div>
      <div *ngIf="isIEOrEdge" style="color:red;text-align:left;padding:5px;font-size: 0.75em">
        Note: Attachments not supported in EDGE, Please choose Chrome to get the best use of the functionality.
      </div>
    </div>
  </div>
</form>