<p-confirmDialog></p-confirmDialog>
<div class="ui-g ui-g-nopad mainHeader">
  <div class="ui-g-12 ui-md-10 ui-g-nopad" style="padding-top: 5px;padding-left:10px">
    Holidays
  </div>
  <div class="ui-g-12 ui-md-2 ui-g-nopad">
    <div class="ui-g-12 ui-md-6"></div>
    <div class="ui-g-12 ui-md-4"></div>
    <div class="ui-g-12 ui-md-2 helpClass ui-g-nopad">
      <a href="#"><i class="fa fa-question fa-150x" style="padding-top:2px; color:black"></i></a>
    </div>
  </div>
</div>
<div class="ui-g">
  <div class="ui-g-12 ui-md-10"></div>
  <div class="ui-g-12 ui-md-2" style="text-align: right">
    <button pButton icon="fa fa-plus fa-1x" pTooltip="Add New Holiday" tooltipPosition="bottom" class="ui-button-info"
      label="Add New Holiday" (click)=addHoliday()></button>
  </div>
</div>
<div class="ui-g">
  <div class="ui-g-12 ui-md-1" style="text-align: right">
    Select Year:
  </div>
  <div class="ui-g-12 ui-md-2">
    <p-dropdown [options]="_years" [(ngModel)]="selectedYear"></p-dropdown>
  </div>
</div>

<div class="ui-g">
  <p-table #dt [columns]="cols" [value]="_holidays" [paginator]="true" [rows]="20" [responsive]="false" dataKey="Id">
    <ng-template pTemplate="caption">
      <div class="ui-g ui-g-nopad recordsBar">
        <div class="ui-g-12 ui-md-6 ui-g-nopad recordsFound">{{_recData}}</div>
        <div class="ui-g-12 ui-md-6 ui-g-nopad" style="text-align: right">
          <i class="fa fa-search" style="margin:4px 4px 0 0;color:black"></i>
          <input type="text" pInputText size="50" placeholder="Global Filter" (input)="dt.filterGlobal($event.target.value, 'contains')"
            style="width:auto"> &nbsp;
          <button type="button" pButton icon="fa fa-table" label="Export" (click)="dt.exportCSV()"></button>
        </div>
      </div>
    </ng-template>
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th style="width: 5em">Edit</th>
        <th *ngFor="let col of columns" [pSortableColumn]="col.field">
          {{col.header}}
        </th>
        <th style="width: 5em">Delete</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-expanded="expanded" let-columns="columns">
      <tr [pSelectableRow]="rowData">
        <td style="text-align: center">
          <i class="fa fa-edit fa-150x" pTooltip="Edit Holiday" style="cursor:pointer;color:cyan" tooltipPosition="bottom"
            (click)="editHoliday(rowData)"></i>
        </td>
        <td *ngFor="let col of columns">
          {{rowData[col.field]}}
        </td>
        <td style="text-align: center">
          <i *ngIf="rowData['InUse'] === 0" class="fa fa-times fa-150x" pTooltip="Delete this unused holiday" style="cursor:pointer;color:red"
            tooltipPosition="bottom" (click)="deleteHoliday(rowData)"></i>
        </td>
      </tr>
    </ng-template>
  </p-table>

</div>