<p-confirmDialog></p-confirmDialog>
<p-toast [style]="{marginTop: '80px'}"></p-toast>
<div class="ui-g ui-g-nopad mainHeader">
  <div class="ui-g-12 ui-md-10 ui-g-nopad" style="padding-top: 5px;padding-left:10px">
    {{_title}}
  </div>
  <div class="ui-g-12 ui-md-2 ui-g-nopad">
    <div class="ui-g-12 ui-md-6"></div>
    <div class="ui-g-12 ui-md-4"></div>
    <div class="ui-g-12 ui-md-2 helpClass ui-g-nopad">
      <a href="#"><i class="fa fa-question fa-150x" style="padding-top:2px; color:black"></i></a>
    </div>
  </div>
</div>
<form [formGroup]="_frm">
  <div class="ui-g">
    <div class="ui-g-12 ui-md-12">
      <div class="ui-g-12 ui-md-3">
        Holiday Name *<br>
        <div style="height:5px"></div>
        <input type="text" pInputText style="width:100%" placeholder="Holiday Name" formControlName="holidayName">
      </div>
    </div>
    <div class="ui-g-12 ui-md-12">
      <div class="ui-g-12 ui-md-3">
        Date *<br>
        <div style="height:5px"></div>
        <p-calendar [showIcon]="true" [style]="{'width':'99%'}" [readonlyInput]="true" dateFormat="mm-dd-yy"
          formControlName="holidayDate"></p-calendar> (mm-dd-yyyy)
      </div>
    </div>
  </div>
  <div class="ui-g">
    <div class="ui-g-12 ui-md-12">
        <div class="ui-g-12 ui-md-12">
      <button pButton label="Save" (click)="addHoliday()" [disabled]="hasFormErrors()"></button>
      &nbsp;
      <button pButton label="Cancel" (click)="cancelHoliday()"></button>
      </div>
    </div>
  </div>
</form>