<div class="ui-g ui-md-12 ui-lg-12" style="height:70px;font-size:30px;">
  Administration
</div>

<div class="ui-g">
  <div class="ui-g-12 ui-md-4">
  <div class="ui-g-12 ui-md-12 cardBlock">
    <div class="ui-g-12 ui-md-12 cardBlockHeader">
      Timesheets
    </div>
    <div class="ui-g-12 ui-md-12">
      description
    </div>
  </div>
</div>
  <div class="ui-g-12 ui-md-4">
  <div class="ui-g-12 ui-md-12 cardBlock">
    <div class="ui-g-12 ui-md-12 cardBlockHeader">
      Favourite Reports
    </div>
    <div class="ui-g-12 ui-md-12">
      description
    </div>
  </div>
</div>
<div class="ui-g-12 ui-md-4">
  <div class="ui-g-12 ui-md-12 cardBlock">
    <div class="ui-g-12 ui-md-12 cardBlockHeader">

    </div>
    <div class="ui-g-12 ui-md-12">

    </div>
  </div>
</div>
</div>


<div class="ui-g">
    <div class="ui-g-12 ui-md-3">
  <div class="ui-g-12 ui-md-12 cardBlock">
    <div class="ui-g-12 ui-md-12 cardBlockMenuHeader">
      Employees
    </div>
    <div class="ui-g-12 ui-md-12">

    </div>
  </div>
  </div>
  <div class="ui-g-12 ui-md-3">
  <div class="ui-g-12 ui-md-12 cardBlock">
    <div class="ui-g-12 ui-md-12 cardBlockMenuHeader">
      Holidays
    </div>
    <div class="ui-g-12 ui-md-12">

    </div>
  </div>
  </div>

  <div class="ui-g-12 ui-md-3">
  <div class="ui-g-12 ui-md-12 cardBlock">
    <div class="ui-g-12 ui-md-12 cardBlockMenuHeader">
      Billing Codes
    </div>
    <div class="ui-g-12 ui-md-12">

    </div>
  </div>
  </div>

  <div class="ui-g-12 ui-md-3">
  <div class="ui-g-12 ui-md-312 cardBlock">
    <div class="ui-g-12 ui-md-12 cardBlockMenuHeader">
      Customers
    </div>
    <div class="ui-g-12 ui-md-12">

    </div>
  </div>
  </div>
</div>


<div class="ui-g">
    <div class="ui-g-12 ui-md-3">
  <div class="ui-g-12 ui-md-12 cardBlock">
    <div class="ui-g-12 ui-md-12 cardBlockMenuHeader">
      Year End
    </div>
    <div class="ui-g-12 ui-md-12">

    </div>
  </div>
  </div>

  <div class="ui-g-12 ui-md-3">
  <div class="ui-g-12 ui-md-12 cardBlock">
    <div class="ui-g-12 ui-md-12 cardBlockMenuHeader">
      Error Log
    </div>
    <div class="ui-g-12 ui-md-12">

    </div>
  </div>
  </div>

  <div class="ui-g-12 ui-md-3">
  <div class="ui-g-12 ui-md-12 cardBlock">
    <div class="ui-g-12 ui-md-12 cardBlockMenuHeader">
      Report
    </div>
    <div class="ui-g-12 ui-md-12">

    </div>
  </div>
</div>

<div class="ui-g-12 ui-md-3">
  <div class="ui-g-12 ui-md-12 cardBlock">
    <div class="ui-g-12 ui-md-12 cardBlockMenuHeader">
      Configuration
    </div>
    <div class="ui-g-12 ui-md-12">

    </div>
  </div>
</div>
</div>



<!-- <div class="ui-g-12 ui-md-12">
  <div class="cardBlock mediumBlock">
    <div class="cardBlockHeader">
      Timesheets
    </div>
    <div class="cardBlockBody">

    </div>
  </div>
  <div class="cardBlock mediumBlock">
    <div class="cardBlockHeader">
      Favourite Reports
    </div>
    <div class="cardBlockBody">

    </div>
  </div>
  <div class="cardBlock mediumBlock">
    <div class="cardBlockHeader">

    </div>
    <div class="cardBlockBody">

    </div>
  </div>
</div>
<div class="ui-g-12 ui-md-3">
  <div class="cardBlock smallBlock">
    <div class="cardBlockHeader">
      Employees
    </div>
    <div class="cardBlockBody">

    </div>
  </div>
  <div class="cardBlock smallBlock">
    <div class="cardBlockHeader">
      Holidays
    </div>
    <div class="cardBlockBody">

    </div>
  </div>
  <div class="cardBlock smallBlock">
    <div class="cardBlockHeader">
      Billing Codes
    </div>
    <div class="cardBlockBody">

    </div>
  </div>
  <div class="cardBlock smallBlock">
    <div class="cardBlockHeader">
      Customers
    </div>
    <div class="cardBlockBody">

    </div>
  </div>
</div>
<div class="ui-g-12 ui-md-12">
  <div class="cardBlock smallBlock">
    <div class="cardBlockHeader">
      Year End
    </div>
    <div class="cardBlockBody">

    </div>
  </div>
  <div class="cardBlock smallBlock">
    <div class="cardBlockHeader">
      Error Log
    </div>
    <div class="cardBlockBody">

    </div>
  </div>
  <div class="cardBlock smallBlock">
    <div class="cardBlockHeader">
      Reports
    </div>
    <div class="cardBlockBody">

    </div>
  </div>
  <div class="cardBlock smallBlock">
    <div class="cardBlockHeader">
      Configuration
    </div>
    <div class="cardBlockBody">

    </div>
  </div> 
</div> -->