.cardBlock{
    min-height:200px;
    padding:1px;
    background-color: #ffffff;
    color: #333333;
    -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
    -moz-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
}

.cardBlockHeader{
    min-height:35px;
    border-bottom:1px solid #e7e7e7;
    text-align: center;
    vertical-align: middle;
    font-size:18px;
}

.cardBlockMenuHeader{
    min-height:30px;
    border-bottom:1px solid darkolivegreen;
    text-align: left;
    padding-left: 5px;
    vertical-align: middle;
    font-size:16px;
    color: dodgerblue;
}

/*.smallBlock{
width:24.3%;
float:left;
}
.mediumBlock{
width:32.6%;
float:left;
}

.cardBlockHeader{
    min-height:50px;
    margin:5px;
    border-bottom:1px solid #e7e7e7;
    text-align: center;
    vertical-align: middle;
    font-size:24px;
}

.cardBlockBody{
    min-height:100px;
    padding:5px;
}*/